<% provide(:title, 'Chat') %>

<%= render "shared/infrastructure" %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/chat_form' %>
    </section>
    <section>
      <%= render 'shared/message_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Chat Window</h3>
    <section id="chat-window">
<!--
      <% if current_user.channels.any? %>
        <h5 id="channel-count">Channels (<%= current_user.channels.count %>)</h5>
        <ul class="channels">
          <%= render partial: "channels/channel",
            collection: current_user.channels %>
        </ul>
      <% end %>
-->

      <h5>Messages</h5>
      <ul class="messages"></ul>
    </section>
  </div>
</div>
